* {
	margin: 0;
	padding: 0;
}
body {
	letter-spacing: 0;
	font-size: 0.925rem;
	line-height: 1.4;
	letter-spacing: .01rem;
	color: #373a3c;
	padding: 1rem;
	font-family: 'Lato', sans-serif;
	font-family: 'Raleway', sans-serif;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #333;
	line-height: 1.1;
}

h1 {
	border-bottom: 3px solid #007fec;
	font-size: 2rem;
	margin-bottom: 0.75rem;
	letter-spacing: 1px;
}

h2 {
	font-size: 1.5rem;
	margin: 1.5rem 0 0.1rem;
	padding: 0 0 0.2rem 0;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

h3 {
	font-size: 1.1rem;
	font-weight: bold;
	color: #666;
	margin-top: 1.2rem;
}

h4 {
	margin-top: 1rem;
	font-size: 1.15rem;
}

h5 {
	font-size: 0.85rem;
}

ul {
	margin: 0 0 0 1.5rem;
}

li {
	margin: 0.2rem 0;
}

h2 + h3 {
	margin: 0.5rem 0 0 0;
}

h3 + ul {
	margin-top: 0.2rem;
}

#title + ul {
	font-family: 'Lato', sans-serif;
	list-style: none;
	column-count: 2;
	margin: 0;
}

#expertise + ul {
	column-count: 2;
	list-style: none;
	margin: 0.2rem 0 0;
	li {
		margin: 0.2rem 0;
	}
}

h3 {
	& + p {
		margin-top: 0.1rem;
		strong, em {
			display: inline-block;
			margin-right: 0.25rem;
			margin-bottom: 0.2rem;
		}
		strong {
			color: #444;
			font-weight: normal;
		}
		em {
			font-weight: normal;
			color: #666;
			font-style: normal;
		}
	}
}

h2#technicalskills + ul {
	column-count: 2;
	list-style: none;
	margin: 0;
}

a:visited, a:link {
	color: #0275d8;
	text-decoration: none;
}
